@import "customised-bootstrap";

$sidebar-width: 216px;
$sidebar-gap: 1.1rem;
$sidebar-left-pad: 1.3rem;

$main-x-pad: 1rem;
$main-y-pad: 2rem;

/*
    Basic
*/
html,
body {
  height: 100%;
}

/*
    Page wrapper
*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*
  Header
*/
$header-height: 90px;

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: $header-height;
  z-index: 199;
  background: $page-bg;
  padding: 1.2rem $main-x-pad;
  border-bottom: 1px solid $contrast1;
}
.header__row {
  position: relative;
  z-index: 1;
}
.header__logo,
.header__actions {
  flex-grow: 0;
  white-space: nowrap;
}
.is-searchable .header__logo,
.is-searchable .header__actions {
  position: absolute;
  z-index: 0;
}
.header__logo {
  padding-left: $sidebar-left-pad;

  @include media-breakpoint-up(md) {
    width: calc(#{$sidebar-width} + #{$sidebar-gap} + #{$main-x-pad});
    flex: 0 0 auto;
  }
}
.header__search {
  max-width: 720px;

  @include media-breakpoint-up(sm) {
    padding-left: 0;
  }
}
.header__actions {
  margin-left: auto;
}

.header__action-btn__txt {
  display: none;

  @include media-breakpoint-up(lg) {
    display: inline;
  }
}



.header__open-sidebar {
  margin-top: -.15em;
  margin-left: -$btn-close-padding-x;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

/*
  Search
*/

.search {
  text-align: right;

  @include media-breakpoint-up(xs) {
    position: static;
  }
}

.search__field {
  display: none;
  text-align: left;
  position: relative;
  z-index: 2;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}
.is-searchable .search__field {
  display: block;
}
.search__field-show {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
.is-searchable .search__field-show {
  @include visually-hidden();
  @include visually-hidden-focusable();
}

.search__field-hide {
  position: absolute;
  z-index: 10;
  padding-left: .5rem;
  padding-right: .5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: transparent;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}
.is-suggesting .search__field-hide {
  border-bottom-left-radius: 0;
}

.search__field-hide > svg.bi {
  position: relative;
  top: -.15em;
}

.search__input {
  padding-left: calc(3rem + .2em);

  @include media-breakpoint-up(sm) {
    padding-left: $input-padding-x-lg;
  }
}
.is-suggesting .search__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search__field:focus-within .search__input {
  box-shadow: $input-focus-box-shadow;
  border-color: $input-focus-border-color;
  background: $input-focus-bg;
  color: $input-focus-color;
}

.search-dumb-mq-tester {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}
.search__suggest,
.search__suggest::after {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom-left-radius: $input-border-radius-lg;
  border-bottom-right-radius: $input-border-radius-lg;
}
.search__suggest {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  //top: calc(100% + #{$input-border-width});
  top: 100%;
}
.is-suggesting .search__suggest {
  display: block;
}
.search__suggest::after {
  content: '';
  z-index: -1;
  bottom: 0;
  top: calc(2 * #{$input-btn-focus-width});
  box-shadow: $input-focus-box-shadow;
  transition: $input-transition;
}

.search__suggest-item {
  border-color: $contrast1;
}
.search__suggest-item,
.search__suggest-item:hover,
.search__suggest-item:focus,
.search__suggest-item.is-selected {
  color: $page-text-color;
}
.search__suggest-item {
  background-color: $contrast2;
  padding-left: $input-padding-x-lg;
  padding-right: $input-padding-x-lg;
}

.search__suggest-item:hover,
.search__suggest-item:focus,
.search__suggest-item.is-selected {
  background-color: $contrast1;
}

.search__suggest-item:focus-visible {
  outline: 0;
  box-shadow: $input-btn-focus-box-shadow;
}


/*
   Content
*/
.content {
  padding: calc(#{$header-height} + #{$main-y-pad}) $main-x-pad;
}


/*
    Sidebar
*/

$sidebar-animation-duration: .2s;

.sidebar {
  background: $contrast1;
  width: $sidebar-width;
  max-width: 100%;
  position: fixed;
  z-index: 201;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  will-change: transform;
  transform: translateX(-100%);
  transition: visibility $sidebar-animation-duration, transform $sidebar-animation-duration;
  outline: none;
  box-shadow: 0 .5rem 1rem rgba($black, .9);
  visibility: hidden;

  @include media-breakpoint-up(md) {
    visibility: visible;
    transform: translateX(0);
    transition: none;
    top: calc(#{$header-height} + #{$main-y-pad});
    background: none;
    box-shadow: none;
  }
}
.sidebar.is-open {
  visibility: visible;
  transform: translateX(0);
}

.sidebar__head {
  padding: 1rem .5rem;
  text-align: right;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.sidebar__close {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.sidebar__body {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.sidebar-backdrop {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, $modal-backdrop-opacity);
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  transition: opacity $sidebar-animation-duration;
}
.sidebar.is-open ~ .sidebar-backdrop {
  opacity: 1;
  pointer-events: auto;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.sidebar-dumb-mq-tester {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

/*
    Logo
*/
.logo {
  text-transform: none;
  //font-size: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;

  @include media-breakpoint-up(md) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
  }
}
/*
    Navigation
*/
.navigation__item,
.navigation__item:hover,
.navigation__item:focus {
  color: $page-text-color;
}

.navigation__item {
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem 0.5rem $sidebar-left-pad;
  font-size: 1.2rem;
}

.navigation__item:not(.active):hover,
.navigation__item:not(.active):focus {
  background-color: $page-bg;

  @include media-breakpoint-up(md) {
    background-color: $contrast1;
  }
}

.navigation__item:focus-visible {
  outline: 0;
  box-shadow: $input-btn-focus-box-shadow;
}

.navigation__item.active,
.navigation__item.active:hover,
.navigation__item.active:focus {
  color: #000;
}

/*
    Main page content
*/
.main {
  position: relative;
  margin-left: 0;

  @include media-breakpoint-up(md) {
    margin-left: calc(#{$sidebar-width} + #{$sidebar-gap});
  }
}

/*
    Menu button
*/
.btn-menu {
  box-sizing: content-box;
  width: $btn-close-width;
  height: $btn-close-height;
  padding: $btn-close-padding-y $btn-close-padding-x;
  color: $btn-close-color;
  background: transparent escape-svg(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$btn-close-color}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>')) 50% 50% no-repeat; // include transparent for button elements
  border: 0; // for button elements
  @include border-radius();
  opacity: $btn-close-opacity;

  // Override <a>'s hover style
  &:hover {
    color: $btn-close-color;
    text-decoration: none;
    opacity: $btn-close-hover-opacity;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: $btn-close-focus-shadow;
    opacity: $btn-close-focus-opacity;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: $btn-close-disabled-opacity;
  }
}

/*
  Improve touch hit area for standalone checkboxes/radios.
  For this `.form-check` element should be a `<label>`
*/
.form-check_standalone {
  position: relative;
  display: inline-block;
  padding: 0;
  min-height: 0;
  margin: 0;
  vertical-align: baseline;
}
.form-check_standalone::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  left: 50%;
  // .25em is default bootstrap margin-top for `.form-check-input` which allows vertical aligning with text
  top: calc(50% + (.25em / 2));
  transform: translate(-50%, -50%);
}
.form-check_standalone > .form-check-input {
  margin-left: 0;
  margin-right: 0;
}

/*
  Gallery
*/

.pig-figure {
  background-color: $contrast1 !important;
}

/*
  Custom scrollbar
*/

$scrollbar-size: 16px;
$scrollbar-track-color: transparent;
$scrollbar-thumb-color: #666;

html,
.scrollbar {
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}
html::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}
html::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: $scrollbar-size;
  border: 4px solid transparent;
  background-clip: content-box;
}
html::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}
